body {
  background-color: aquamarine;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--columns), auto);
  grid-gap: 1px;
  background-color: #2196f3;
  padding: 10px;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}
